@using System.Web.Configuration
<div class="layout-sidebar">
    <div class="layout-sidebar-backdrop"></div>
    <div class="layout-sidebar-body">
        <div class="custom-scrollbar">
            <nav id="sidenav" class="sidenav-collapse collapse">
                <ul class="sidenav">
                    <li class="sidenav-search hidden-md hidden-lg">
                        <form class="sidenav-form" action="/">
                            <div class="form-group form-group-sm">
                                <div class="input-with-icon">
                                    <input class="form-control" type="text" placeholder="Search…">
                                    <span class="icon icon-search input-icon"></span>
                                </div>
                            </div>
                        </form>
                    </li>
                    <li class="sidenav-heading">Main</li>
                    <li class="sidenav-item has-subnav active">
                        <a href="dashboard-1.html" aria-haspopup="true">
                            <span class="sidenav-icon icon icon-home"></span>
                            <span class="sidenav-label">Dashboards</span>
                        </a>
                        <ul class="sidenav-subnav collapse">
                            <li class="sidenav-subheading">Dashboards</li>
                            <li><a href="@Url.Action("dashboard","home")">Home</a></li>

                        </ul>
                    </li>
                    <li class="sidenav-heading">Swift Foodie Users</li>
                    <li class="sidenav-item has-subnav">
                        <a href="#" aria-haspopup="true">
                            <span class="sidenav-icon icon icon-briefcase"></span>
                            <span class="sidenav-label">Manage Users</span>
                        </a>
                        <ul class="sidenav-subnav collapse">
                            <li class="sidenav-subheading">Manage Restaurant</li>
                            <li><a href="@Url.Action("all","users")">All Users</a></li>
                            <li><a href="@Url.Action("alist","users")">Active Users</a></li>
                            <li><a href="@Url.Action("dlist","users")">In-Active Users</a></li>
                        </ul>
                    </li>
                    <li class="sidenav-heading">Restaurant</li>
                    <li class="sidenav-item has-subnav">
                        <a href="#" aria-haspopup="true">
                            <span class="sidenav-icon icon icon-briefcase"></span>
                            <span class="sidenav-label">Manage Restaurant</span>
                        </a>
                        <ul class="sidenav-subnav collapse">
                            <li class="sidenav-subheading">Manage Restaurant</li>
                            <li><a href="@Url.Action("add","restaurant")">Add Restaurant</a></li>
                            <li><a href="@Url.Action("all","restaurant")">All Restaurants</a></li>
                            <li><a href="@Url.Action("alist","restaurant")">Active Restaurants</a></li>
                            <li><a href="@Url.Action("dlist","restaurant")">Deleted Restaurants</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>